<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClientApplication.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="HostingPort" serializeAs="String">
                <value>2626</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value>True</value>
            </setting>
        </ClientApplication.Properties.Settings>
    </userSettings>
</configuration>